{% extends "layout.html" %}


{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hola, Mundo!</h1>
        <p class="lead">Esto es un simple ejemplo de jumbotron-style componente para que veas como funciona</p>
        <hr class="my-4">
        <p>El uso de esta clase de utilidad para tipografias y espacios en un largo contenido.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Aprende mas</a>
    </div>
</div>
    {% endblock %}