<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mi primer sitio web</title>
        <!-- bootstrap CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!--CUSTOM CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <style type="text/css">
            .jumbotron{
            margin-top: 15px;
            padding: 17px;
            color: #990000;
            background-color: #FFFFCC;
            }
        </style>    
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
              <a class="navbar-brand" href="#">Python WebApp</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <!--<a class="nav-link" href="{{url_for('about')}}">About</a>-->
                    <a class="nav-link" href="/about">About</a>
                  </li>
                </ul>
              </div>
          </nav>
          <div class="container p-4">
            {% block content %}
            {% endblock %}
          </div>    
    </body> 
</html>
